{% extends 'home/base.html' %}



{% block content %}

<div class='container'>
    <div class='row'>
      
        {% include  'nav/inclde.html' %}

        {% comment %} right side here {% endcomment %}
    
    
        <div class='col-md-9'>
            <h3> ALL Posts</h3>
            <a href='{% url 'add_post' %}' class='btn btn-dark text-light float-right mb-2'>Add here!</a>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>image</th>
                    <th>status</th>
                    <th>Is featured</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for post in all_post %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{post.title}}</td>
                    

                    <td>{{post.category}}</td>
                    <td>{{user}}</td>
                    <td><img src='{{post.image.url}}' style='width:100px;height:100px' ></img></td>
                    <td>{{post.status}}</td>
                    <td>{{post.is_featured}}</td>
                    <td>
                       <a href="{% url 'post_edit' post.id %}"><i class="fa-solid fa-pen-to-square text-success"></i></a>
                        &nbsp;
                       <a href="{% url 'post_delete' post.id %}"> <i class="fa-solid fa-trash text-danger"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
        </div>
    
    </div>
    </div>
{% endblock %}