<div class="col-md-3">
    <div class="nav flex-column nav-pills bg-light" aria-orientation='vertical'>
        <a href='{% url 'dashboard' %}' class='nav-link text-dark {% if '/dashboard/' == request.path %} bg-warning {% endif %}'>Dashboard</a>
        <a href='{% url 'category' %}' class='nav-link text-dark {% if '/category/' in request.path %} bg-warning {% endif %} '>Categoires</a>
        
        
        {% if perms.auth.add_user%}
        <a href='{% url 'user' %}' class='nav-link text-dark {% if '/user/' in  request.path %} bg-warning {% endif %} '>Users</a>
        {% endif %}
        
        <a href='{% url 'blog' %}' class='nav-link text-dark {% if '/blogs/' in request.path %} bg-warning {% endif %}'>Blogs</a>
        <a href='{% url 'logout' %}' class='nav-link text-dark '>Logout</a>
    </div>
</div>